doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Image recognition
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Demo webapp for image recognition with TensorFlowJS')
    meta(name='author', content='Leander Schulz')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }
      /* Custom container */
      .container-narrow {
      margin: 0 auto;
      max-width: 700px;
      }
      .container-narrow > hr {
      margin: 30px 0;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
      margin: 60px 0;
      text-align: center;
      }
      .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
      }
      .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
      }
      /* Supporting marketing content */
      .marketing {
      margin: 60px 0;
      }
      .marketing p + h4 {
      margin-top: 28px;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    include ./scripts
  body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='/') Home
          li
            a(href='/arch') Architecture
          li
            a(href='/contact') Contact
        h3.muted Image Recognition Demo
      hr
      .jumbotron
        h1 Upload an image now!
        p.lead
          | Get a neural network based prediction of the objects visible in your picture or photo by simply uploading it to our Node.js server on Google App Engine
        a.btn.btn-large.btn-success(href='#') Upload
      hr
      .footer
        p © lndrschlz 2019 